/*estilos generales*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    font-family: 'Playfair Display';
    font-weight: 400;
    color: black;
    font-size: 60px;
    margin: 30px;
}
.subtitulo {
    font-family: 'Playfair Display';
    font-weight: 400;
    color: black;
    font-size: 17px;
    margin: 20px;
}

.texto {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: black;
}
section {
    justify-content: center;
    margin: auto;
}    




/* Estilos de header*/
.header {
    background-color: black;
    width: 100%;
    height: 500 px;
    margin: auto;
    display: flex;
    justify-content: center;

}
.contenedortexto h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 30px;

}
.contenedortexto li, p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 17 px;

}

h1 {
    font-family: 'Playfair Display';
    font-weight: 700;
    color: white;
    font-size: 60px;
    margin-top: 30px;
}

.fotoperfil img {
    width: 300px;
    margin: 50px;
}
.henry {
    width: 823px;
    margin-bottom: 30px;
}
/* fin de estilos de header*/

/* Estilos Educación*/
.educacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
}
.textoeducacion {
    width: 1000px;
    margin: auto;
}
/* fin estilos educacion */

/* estilos experiencias */

.Experienciaslaborales{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}
    
.experiencia {
    display: inline-block;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 100px;
    
    
    
}


.contenedortodas{
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    
}

/*fin estilos experiencias*/

/*estilos skills*/
.skills{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.tecnicas h3, .blandas h3 {
    margin: auto;
}
.blandas {
    width: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* estilos footer*/

.footer {
    background-color: black;
    width: 100%;
    height: 500 px;
    margin: auto;  
    display: inline-flex;
    flex-direction: column;
    align-items: center;
     
} 
.contenedorfooter{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    
}  
.escalada {
    width: 600px;
}
.footer h2 {
    font-family: 'Playfair Display';
    font-weight: 400;
    color: white;
    font-size: 60px;
}
.fotoescalada img{
    width: 415px;
    margin-left: 50px;
}